@import "tailwindcss";
@source "./**/*.{js,ts,jsx,tsx}";
@source "../compante/**/*.{js,ts,jsx,tsx}";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f8fafc;
  color: #0f172a;
}
